

.imgProjetHaut, .imgProjetBas, .imgProjetEcran, .imgProjetEcranBas{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: fit-content;
}
.imgBebou, .imgBebouEcran{
    margin-right: 10px;
}

.imgBebouEcran{
    width: 500px;
    height: auto;
}

.imgBebou{
    width: 128px;
}
.imgProjetBas, .imgProjetEcranBas {
    margin-top: 15px;
}

#imgProjet{
    display: flex;
    flex-direction: column;
}

@media (max-width: 730px) {
    #vector4,svg{
        display: none!important;
    }
    .imgBebouEcran{
        width: 90%
    }

    .imgBebou{
        width: 60px;
    }
}

@media(max-width: 355px){
    #imgProjet{
        flex-direction: row;
    }

    .imgProjetHaut{
        flex-direction: column;
    }

    .imgProjetBas{
        flex-direction: column;
    }
}

@media (max-width: 1234px) {
   .imgProjetEcran, .imgProjetEcranBas{
        flex-direction: column;
    }
    .imgBebou,.imgBebouEcran{
        margin-top: 10px;
    }
}
