.imgProjetEcran{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: fit-content;
}

.imgProjetEcran > .imgSite{
    margin-left: 2%;
    width: 500px;
    height: auto;
}

@media (max-width: 1234px) {
    .imgProjetEcran{
        flex-direction: column;
    }
    .imgProjetEcran > .imgSite{
        margin-left: 0%;
        width: 90%;
    }

}

#gif{height: 100%;
    width: auto;}