
#vector4 {
    display: block;
    position: absolute;
    top:-120px;
    left:-5px;
    z-index: 0;
}



.titreVagueProjets svg{
    display: block;
    position: absolute;
    top:0;
    left: 50px;
    width: 90%;
    height: 130px;
    z-index: 0;
}

.titreVagueProjets h1 {
    z-index: 1;
}

p:not(footer  p),li{
    width: 80%;
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
}

p:not(footer  p){
    margin: 10px auto;
}

#homePage{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index :2!important;
}

h3{
    font-family: 'Aclonica', cursive;
    font-size: 30px;
    margin-left: 10%;
    color: #61236C;
}

h4{
    font-family: 'Aclonica', cursive;
    font-size: 25px;
    margin-left: 12%;
    color: #61236C;
}

.imgSite{
    margin-top: 15px;
    margin-left: 15%;
    border-radius: 15px;
    width: 40%;
    height: auto;
}


h1{
    width: 80%!important;
    word-break: break-word;
}

@media (max-width: 1080px) {
    .titreVagueProjets h1{
        margin-left: 3.5%!important;
        width: 80%!important;
    }

    .imgSite{
        width: 70%;
    }

}
