html{
    min-width: 1;
}
body{
    overflow-x: hidden;
}

#vector4 {
    position: absolute;
    top:-120px;
    left:-5px;
}


.titreVagueProjets svg{
    position: absolute;
    top:0;
    left: 50px;
    width: 1600px;
    height: 130px;
}

p,li{
    width: 80%;
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
}

p{
    margin: 10px auto;
}

#homePage{
    position: absolute;
    top: 10px;
    right: 10px;
}

h3{
    font-family: 'Aclonica', cursive;
    font-size: 30px;
    margin-left: 10%;
    color: #61236C;
}

.imgSite{
    margin-top: 15px;
    margin-left: 15%;
    border-radius: 15px;
}

#interfaceADR, #\#maquette {width: 70%; height: auto;}
