@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body a{
    text-decoration: none;
}

#\#burgerMenu{
    position: fixed;
    top:10px;
    right: 10px;
}

body::-webkit-scrollbar{
    display: none;
}
html {
    scrollbar-width: none;
}


body{
    width: 100%;
    height: 100%;
    background-color: #FFF7ED;
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#txtMain{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1,h2, #txtMain>p {
    font-family: 'Aclonica', cursive;

}

.nom {
    font-size: 100px;
    text-align: center;
    margin: auto auto 25px auto;
}

h1,h2{
    color: #61236C;
    position: relative;
    margin-left: 3.5%;
}

h1, #\#prtfTxt{
    font-size: 60px;

}
#\#prtfTxt{
    text-align: center;
}

h2{
    font-size: 40px;
    position: relative;
    margin-left: 7%;
}

.titreVague{
    margin-bottom: 80px;
}

#rest p,ul {
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;

}

#Apropos p{
    width: 90%;
    position: relative;

}

#Apropos p, #contacts p{
    font-size: 22px;
    margin-bottom: 15px;
}

ul{ font-size: 22px;}


#mainPage{
    height: 100vh;
}

#list{
    position: relative;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

}
#list ul:first-child{
    width: fit-content;
    margin-right:  50px;
}

#projets svg{
    height: 40vw;
    width: 100vw;
    position: relative;
    left:140px;
}

#contacts{

    width: 100vw;
}

#infosContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    margin-left: 25%;
}


#infosContact > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;

}


#infosContact div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#infosContact div img{
    margin-right: 35px;
}

#infosContact p > a{
    text-decoration: none;
}

#projets > .titreVague{
    margin-top: 300px ;
}

#mainPage svg{
    height: 115vh;
}

.vectors{
    position: absolute;
}
#vector1{
    top: 0;
    left: -1px;
}

#vector2{
    top:15vh;
    left:2px;
}

#vector3{
    bottom: -220px;
    right: -10px;
}

svg{
    z-index: -1;
}

.vectors{
    z-index: -2;
}


#\#ligneBas{
    position: absolute;
    bottom: 0;
    right: 0px;
}
#mainPage #\#ligneBas svg{
    position: relative;
    bottom: -30px;
    width: 1000px;
    height: 225px;

}

#\#ligneHaut{
    width: 800px;
    position: absolute;
    top:0;
    left:0;
}

#\#ligneHaut svg{
    position: relative;
    left:0;
    top:0;
}


#\#ligneMilieu{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

#\#ligneMilieu svg{
    position: relative;
    left:0;
    top:9vh;
    width: 100%;
}

#txtMain svg{
    width: 1100px;
    position: absolute;
    top:-50px;
    left:0;
}
.titreVague{
    position: relative;
}

#projets .titreVague img{
    position: absolute;
    top: -170px;
    left: -60px;
}

#projets .titreVague svg{
    position: absolute;
    top:-15px;
    left: 50px;
    width: 500px;
    height: 80px;
}

#contacts > .titreVague{margin-top: 100px;}
#contacts .titreVague img{
    position: absolute;
    top: -95px;
    left:-15px;
}

#contacts .titreVague svg{
    position: absolute;
    top:0;
    left: 70px;
    width: 500px;
    height: 80px;
}


#Apropos .titreVague svg{
    position: absolute;
    top:0;
    left: 70px;
    height: 100px;

}

#Apropos img{
    position: absolute;


}
#Apropos #\#cv{
    position: absolute;
    right:110px;
    margin-top: 20px;
}

#Apropos #vector6{
    right:0;
    margin-top: -180px;
}


.articles article{
    border-radius:100% ;
    width:340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding: 5px;
}

.articles article p{
    width: 180px;
    font-size: 25px;
    text-align: center;
}

.articles article p:first-child{
    margin-bottom: -15px;
}


#projets .articles{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 15%;
}

#projets .articles > div {
    display: flex;
    flex-direction: row;
    margin: 2px auto;
}

#projets .articles > div:nth-child(even){
    margin-left: 15%;
}


.artJaune{
    background-color: #F8B85D;
}
.artRouge{
    background-color: #D75A47;
}
.artRose{
    background-color: #F3AAA5;
}

