@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Modern+Antiqua&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;background-color: #FFF7ED;
    overflow:hidden;
}

#txtDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#txtDiv  p{
    font-family: 'Aclonica', cursive;

    margin :auto;
}

#txtDiv .nom{
    font-size: 100px;
    margin-bottom: 25px;
    text-align: center;

}



#txtDiv #\#prtfTxt{
    margin-top: 105px;
    font-size: 60px;
}

#txtDiv > img{
    margin-top: 30px;
}

svg{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

main >svg{
    width: 100vw;
    height: 100vh;
}

#txtDiv svg{
    top:-50px;
    left:0px;
    height: 500px;
    width: 1050px;
}

.vectors{
    position: absolute;z-index:-2;

}
#vector1{
    top: 0;
    left:0;
}

#vector2{
    left: 5px;
    top:100px;
}

#vector3{
    right: 0;
    bottom: 0;
}

#ligneBas{
    width: 1000px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#ligneBas svg{
    right: 0;
    bottom: 10px;
}

#\#burgerMenu{
    position: absolute;
    top:10px;
    right:10px;
}