@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body a{
    text-decoration: none;
}

#\#burgerMenu{
    position: fixed;
    top:10px;
    right: 10px;
}
p{
    overflow-wrap: break-word;
}
body::-webkit-scrollbar{
    display: none;
}
html {
    scrollbar-width: none;
}

html{
    overflow-x: hidden;
    min-width: 1;
}

body{
    width: 100%;
    height: 100%;
    background-color: #FFF7ED;
    margin-right: 0;
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#txtMain{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1,h2, #txtMain>p {
    font-family: 'Aclonica', cursive;
    width: fit-content;

}

.nom {
    font-size: 100px;
    text-align: center;
    margin: auto auto 25px auto;
}

h1,h2{
    color: #61236C;
    position: relative;
    margin-left: 3.5%;
}

h1, #\#prtfTxt{
    font-size: 60px;

}
#\#prtfTxt{
    text-align: center;
}

h2{
    font-size: 40px;
    position: relative;
    margin-left: 7%;
}

.titreVague{
    margin-bottom: 80px;
}

#rest p,ul {
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;

}

#Apropos p{
    width: 90%;
    position: relative;

}

#Apropos p, #contacts p{
    font-size: 22px;
    margin-bottom: 15px;
}

ul{ font-size: 22px;}


#mainPage{
    height: 100vh;
}

#list{
    position: relative;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;

}
#list ul:first-child{
    width: fit-content;
    margin-right:  10%;
}



#contacts{

    width: 100%;
}

#infosContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    margin-left: 25%;
}


#infosContact > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;

}


#infosContact div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#infosContact div img{
    margin-right: 35px;
}

#infosContact p > a{
    text-decoration: none;
}

#projets > .titreVague{
    margin-top: 300px ;
}

#mainPage svg{
    height: 115vh;
}

.vectors{
    position: absolute;
}
#vector1{
    top: 0;
    left: -1px;
}

#vector2{
    top:15vh;
}

#vector3{
    bottom: -220px;
    right: 0;
}

svg{
    z-index: -1;
}

.vectors{
    z-index: -2;
}


#\#ligneBas{
    position: absolute;
    bottom: 0;
    right: 0px;
}
#mainPage #\#ligneBas svg{
    position: relative;
    bottom: -30px;
    width: 1000px;
    height: 225px;

}

#\#ligneHaut{
    width: 800px;
    position: absolute;
    top:0;
    left:0;
}

#\#ligneHaut svg{
    position: relative;
    left:0;
    top:0;
}


#\#ligneMilieu{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}


#\#ligneMilieu svg{
    position: relative;
    left:0;
    top:9vh;
    width: 100%;
}

#txtMain svg{
    width: 1100px;
    position: absolute;
    top:-50px;
    left:0;
}
.titreVague{
    position: relative;
}

#projets .titreVague img{
    position: absolute;
    top: -170px;
    left: -60px;
}

#projets .titreVague svg{
    position: absolute;
    top:-15px;
    left: 50px;
    width: 500px;
    height: 80px;
}

#contacts > .titreVague{margin-top: 100px;}
#contacts .titreVague img{
    position: absolute;
    top: -95px;
    left:-15px;
}

#contacts .titreVague svg{
    position: absolute;
    top:0;
    left: 70px;
    width: 500px;
    height: 80px;
}


#Apropos .titreVague svg{
    position: absolute;
    top:0;
    left: 70px;
    height: 100px;

}

#Apropos img{
    position: absolute;


}
#Apropos #\#cv{
    position: absolute;
    right:7%;
    margin-top: 20px;
}

#Apropos #vector6{
    right:0;
    margin-top: -180px;
}


.articles article{
    border-radius:100% ;
    width:340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding: 5px;
    z-index:-2;
    position: relative;
}



.articles article svg > text{
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #FFF7ED;
}

.articles article svg{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;

}


.articles article p:first-child{
    margin-bottom: -15px;
}


#projets .articles{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 15%;
}

#projets .articles > div {
    display: flex;
    flex-direction: row;
    margin: 2px auto;
}

#projets .articles > div:nth-child(even){
    margin-left: 15%;
}


.artJaune{
    background-color: #F8B85D;
}
.artRouge{
    background-color: #D75A47;
}
.artRose{
    background-color: #F3AAA5;
}

@media (max-width:1600px) {
    #vector2{
        display: none;
    }
    #projets .articles {
        margin-left: 0;
    }

}

@media (max-width:1345px) {
    #vector6{
        display: none;
    }

    #projets .articles{
        flex-direction: row;
        margin-left: 10%;
    }

    #projets .articles > div{
        flex-direction: column;
        margin-right: 3%;
    }

    #projets .articles > div:nth-child(even){
        margin-left: 0;
    }

    #projets .articles > div article{
        margin: 3% 3%;
    }

}

@media(max-width:1084px){

    .titreVague svg{
        display: none;
    }

    #txtMain p{
        margin:0;
        width: 75%;
    }

    h1,h2, #Apropos p{
        margin-left: 10%;
    }

   #Apropos p, #list{
       width: 80%;

   }
    #list{
        flex-direction: column;
        margin-left: 5%;
    }
    #list > ul{ margin-left: 5%};
    #list ul:nth-child(even){margin-left: 5%}

    #list ul:first-child{margin-right:25%}
   #Apropos p, #list ul, #infosContact p {
       font-size: 30px;
   }
}

@media(max-width:415px) {
     h1{
         width: 500px
     }
}


@media (max-height:650px) {

    .nom{
        margin: auto;
    }

}

@media (max-height:580px) {

    #txtMain img{
        display: none;
    }

}


@media (max-height:480px) {

    #txtMain svg{
        display: none;
    }
    #txtMain {
        margin-top: 15%;
    }

    .nom{
        font-size: 50px;
    }

    #\#prtfTxt{
        font-size: 40px;
    }
}


@media (prefers-reduced-motion: no-preference) {
    .articles article svg {
        animation: spin 20s infinite linear;
    }
    @keyframes spin {
        to {
            rotate: -360deg;
        }
    }
}


.block{
    display: block;
}